<% provide(:title, @article.title) %>
<% content_for :contents do %>
   <%= @article.contents.html_safe %>
<% end %>
<%= link_to "Edit", edit_article_path(@article) %>
<%= link_to "Versions", article_versions_path(@article) %>
<br>
<h5>Tags:</h5>
<ul class="list-unstyled list-inline">
  <% @article.tags.each do |tag| %>
    <li><%= tag.name %></li>
  <% end %>
</ul>
<h1><%= @article.title %></h1>
<%= yield :contents %>
