<% provide(:title, @article.title) %>
<% content_for :contents do %>
   <%= @article.contents.html_safe %>
<% end %>
<%= link_to "Edit", edit_article_path(@article) %>
<%= link_to "Versions", article_versions_path(@article) %>
<br>
<div class="tag-holder">
  <h5>Tags:</h5>
    <ul class="list-unstyled list-inline" id="tag-list">
      <%= render @article.tags  %>
    </ul>
  <p id="new-tag"><%= link_to "add tag",new_article_tag_path(@article), remote: true %></p>
  <div id="tag-form" style="display:none;"></div>
</div>
<h1><%= @article.title %></h1>
  <%= yield :contents %>
