<% provide(:title, @article.title) %>
<% content_for :contents do %>
   <%= @article.contents.html_safe %>
<% end %>
<h1><%= @article.title %></h1>
<h3>Revision: <%= @version.created_at %></h3>
<%= link_to 'Current Article', @article  %>
<%= yield :contents %>
